
html, body {

  height: 100%;
  margin: 0;
  padding: 0;

}

.title {

  font-family: "proxima-nova";
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  margin-bottom: 0;
  color: #00000;

  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 1s;

}

.about {

  -webkit-animation-delay: 0.4s;
  -webkit-animation-duration: 1s;

}

.web {

  -webkit-animation-delay: 0.6s;
  -webkit-animation-duration: 1s;

}

.ui {

  -webkit-animation-delay: 0.8s;
  -webkit-animation-duration: 1s;

}

.contact {

  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1s;

}

.social {

  -webkit-animation-delay: 1.2s;
  -webkit-animation-duration: 1s;

}

.links {

  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "proxima-nova";
  font-size: 18px;

}

.sidebar {

  margin-left: 30px;
  margin-top: 20px;

}

.social img {

  display: inline-block;
  margin-right: 12px;
  margin-bottom: 12px;

}

.main {

  height: 100%;

}

.mainimage {

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center


}

.imgAnimate {

    -webkit-animation-delay: 1.5s;
    -webkit-animation-duration: 2s;

}
